# Dependency directories
node_modules/

# Logs and databases
*.log
*.sqlite

# Environment files
.env
.env.local
.env.development
.env.production

# Build directories
dist/
build/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
